body{
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor{
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 0px 10px gray;
}

h1{
    text-align: center;
    color: #2e7d32;
}

label{
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, select, button{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

button{
    background-color: #2e7d32;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #1b5e20;
}
